[Unit]
Description=Python BleTracker MQTT
After=multi-user.target

[Service]
Type=simple
#Restart=always
Restart=on-failure
ExecStart=/root/repos/Ble2MqttDiscovery/py3/bin/python3 -u /root/repos/Ble2MqttDiscovery/ble_mqtt.py -f /etc/ble_tracker.json
StandardOutput=journal

[Install]
WantedBy=multi-user.target
